# Archived code
archive

# Target output folder
target

# Structured guide
structure.md
plan.md

# Thinking
scratch.rs
todo.md
scratch
scratch.py
striking-thoughts.md

# Cheatsheet
github.md

# Lessons from
pdf
study_code