# Archived code
archive

# Target output folder
target

# Future features
UTXO
md4

# Structured guide
structure.md
plan.md

# Thinking
scratch.rs
todo.md
scratch
scratch.py

# Cheatsheet
github.md

# Lessons from
pdf